input {
  display: block;

  font-size: 18px;
  color: rgb(94, 0, 182);
  font-weight: bolder;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  padding: 2px 15px;
  position: relative;
}

.formulario {
  margin-left: 150px;
  margin-right: 250px;
  margin-top: 50px;
  color: white;
}
.formulario-nascimento {
  margin-top: 32px;
  margin-right: 250px;
  color: white;
}
.formulario-genero {
  color: white;
  padding-left: 50px;
  padding-top: 10px;
}
.input-padrao {
  display: block;
  margin: 0 50px 0 50px;
  padding: 10px 0;
  width: 25%;
  border-radius: 20px;
  border: none;
  transition: 1s all;
}

.input-padrao-texto {
  display: block;
  margin: 0 50px 0 50px;
  padding: 10px 0;
  width: 50%;
  color: white;
}
.submit-padrao-botao {
  display: block;
  margin-left: 150px;
  margin-right: 250px;
  margin-top: 50px;
  padding: 10px 0;
  width: 25%;
  border-radius: 10px;
  transition: 1s all;
  color: white;
  background-color: rgb(94, 0, 182);
  border: none;
}
.submit-padrao-botao:hover {
  background: rgb(140, 0, 255);
  transform: scale(1.1);
}
.input-padrao:hover {
  transform: scale(1.1);
}

.padrao-texto-genero {
  display: inline;
  margin: 0 10px 0 0px;
  padding: 10px 0;
  width: 50%;
  color: white;
}
.tipo-cel-tel {
  margin-left: 150px;
  margin-right: 250px;
  margin-top: 150px;
  color: white;
}
.resultados {
  height: 285px;
  padding: 10px 10px 10px 10px;
  align-content: center;
  color: rgb(94, 0, 182);
  background-color: white;
  width: 400px;
  max-height: 390px;
  border-radius: 20px;
  margin-top: 150px;
}
.resultados-campos {
  display: inline;
}
.genero-nascimento {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-between;
  height: 100px;
  width: 984px;
  
}
.organizar{
  display: flex;
}